@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.div-spin::before,
.div-spin::after,
.div-spin1::before,
.div-spin1::after {
  --angle: 0deg;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  z-index: -1;
  animation: spin 3s linear infinite;
}

.div-spin,
.div-spin1 {
  width: 300px;
  aspect-ratio: 1;
  position: absolute;

  border-radius: 6px;
}

.div-spin {
  top: -1px;
  right: -1px;
}

.div-spin1 {
  bottom: -1px;
  left: -1px;
}

.div-spin::before,
.div-spin1::before {
  filter: blur(2rem);
}