@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  display: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 10px;
}

:root {
  --toastify-color-light: #242c32;
}
