@import "tailwindcss";

/* width */
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @keyframes rotateAnimation {

    0%,
    66.66% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  .animate-rotate {
    animation: rotateAnimation 3s linear infinite;
  }
}