.P8Mfoo {
  position: absolute;
  background: linear-gradient(
        180deg,
        var(--vc-card-left-border-color, #e8e8e8)
          var(--vc-card-sawtooth-margin, 0.25rem),
        transparent 0,
        transparent calc(100% - var(--vc-card-sawtooth-margin, 0.25rem)),
        var(--vc-card-left-border-color, #e8e8e8)
          calc(100% - var(--vc-card-sawtooth-margin, 0.25rem))
      )
      0 0 / 0.0625rem 100% no-repeat,
    linear-gradient(
        180deg,
        var(--vc-card-left-fill-color, #fff)
          var(--vc-card-sawtooth-margin, 0.25rem),
        transparent 0,
        transparent calc(100% - var(--vc-card-sawtooth-margin, 0.25rem)),
        var(--vc-card-left-fill-color, #fff)
          calc(100% - var(--vc-card-sawtooth-margin, 0.25rem))
      )
      0 0 / 100% 100% no-repeat;
  border-bottom: 0.0625rem solid var(--vc-card-left-border-color, #e8e8e8);
  border-bottom-left-radius: 0.125rem;
  border-top: 0.0625rem solid var(--vc-card-left-border-color, #e8e8e8);
  border-top-left-radius: 0.125rem;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
  width: var(--vc-card-height, 7.375rem);
  --vc-card-left-border-color: #ee4d2d;
  --vc-card-left-fill-color: #ee4d2d;
}

.PcmVqR {
  position: absolute;
  background: linear-gradient(
        180deg,
        transparent calc(var(--vc-card-radius, 0.25rem) * 2),
        var(--vc-card-left-border-color, #e8e8e8) 0
      )
      0 0.0625rem / 0.0625rem
      calc(var(--vc-card-radius, 0.25rem) * 2 + var(--vc-card-gap, 0.125rem))
      repeat-y,
    radial-gradient(
        circle at 0 var(--vc-card-radius, 0.25rem),
        transparent 0,
        transparent calc(var(--vc-card-radius, 0.25rem) - 0.0625rem),
        var(--vc-card-left-border-color, #e8e8e8) 0,
        var(--vc-card-left-border-color, #e8e8e8) var(--vc-card-radius, 0.25rem),
        var(--vc-card-left-fill-color, #fff) 0
      )
      0 0.0625rem / 100%
      calc(var(--vc-card-radius, 0.25rem) * 2 + var(--vc-card-gap, 0.125rem))
      repeat-y;
  bottom: calc(var(--vc-card-sawtooth-margin, 0.25rem) - 0.0625rem);
  top: calc(var(--vc-card-sawtooth-margin, 0.25rem) - 0.0625rem);
  width: 100%;
  --vc-card-left-border-color: #ee4d2d;
  --vc-card-left-fill-color: #ee4d2d;
}
